In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split #training and testing data split
from sklearn import metrics #accuracy measure
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [3]:
data=pd.read_csv("../modified_train_call.csv")
data_call=pd.read_csv("../input/Train_call.txt",sep="\t")
data_clinical=pd.read_csv("../input/Train_clinical.txt",sep="\t")

In [4]:
data_clinical.head()

      Sample    Subgroup
0  Array.129       HER2+
1   Array.34         HR+
2   Array.67         HR+
3   Array.24  Triple Neg
4   Array.22  Triple Neg

In [5]:
result = pd.merge(data,
                  data_clinical[['Sample', 'Subgroup']],
                  on=['Sample'],
                  how='left')

In [6]:
result.head()

,Sample,1_2927_43870,1_85022_216735,1_370546_372295,1_471671_786483,1_792533_907406,1_912799_1266212,1_1271190_1590570,1_1676445_1703748,1_1738295_2477597,...,23_152422390_152548587,23_152552851_152570071,23_152576854_152935130,23_152994680_153054487,23_153062077_153452633,23_153466463_153491568,23_153504394_153933426,23_153938998_153989329,23_153997146_154492924,Subgroup
0,Array.129,0,0,0,0,0,0,0,0,0,...,2,2,2,0,1,1,1,1,1,HER2+
1,Array.34,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,HR+
2,Array.67,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,HR+
3,Array.24,0,0,0,0,0,0,0,-1,0,...,0,0,0,0,0,0,0,0,0,Triple Neg
4,Array.22,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,Triple Neg

In [7]:
data_merge=pd.read_csv("../modified_train_call.csv",sep="\t")

In [8]:
data.head()

,Sample,1_2927_43870,1_85022_216735,1_370546_372295,1_471671_786483,1_792533_907406,1_912799_1266212,1_1271190_1590570,1_1676445_1703748,1_1738295_2477597,...,23_151067607_152416606,23_152422390_152548587,23_152552851_152570071,23_152576854_152935130,23_152994680_153054487,23_153062077_153452633,23_153466463_153491568,23_153504394_153933426,23_153938998_153989329,23_153997146_154492924
0,Array.129,0,0,0,0,0,0,0,0,0,...,2,2,2,2,0,1,1,1,1,1
1,Array.34,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
2,Array.67,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3,Array.24,0,0,0,0,0,0,0,-1,0,...,0,0,0,0,0,0,0,0,0,0
4,Array.22,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [9]:
data_=pd.read_csv("../merge_features.csv",sep="\t")

In [10]:
data.head()

,Sample,1_2927_43870,1_85022_216735,1_370546_372295,1_471671_786483,1_792533_907406,1_912799_1266212,1_1271190_1590570,1_1676445_1703748,1_1738295_2477597,...,23_151067607_152416606,23_152422390_152548587,23_152552851_152570071,23_152576854_152935130,23_152994680_153054487,23_153062077_153452633,23_153466463_153491568,23_153504394_153933426,23_153938998_153989329,23_153997146_154492924
0,Array.129,0,0,0,0,0,0,0,0,0,...,2,2,2,2,0,1,1,1,1,1
1,Array.34,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
2,Array.67,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3,Array.24,0,0,0,0,0,0,0,-1,0,...,0,0,0,0,0,0,0,0,0,0
4,Array.22,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [11]:

y= data.values[:, 0]    
X= data.values[:, 1::]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [14]:
y_train

array(['Array.25', 'Array.49', 'Array.130', 'Array.111', 'Array.72',
       'Array.68', 'Array.31', 'Array.64', 'Array.18', 'Array.141',
       'Array.69', 'Array.39', 'Array.125', 'Array.51', 'Array.60',
       'Array.34', 'Array.94', 'Array.56', 'Array.114', 'Array.22',
       'Array.154', 'Array.6', 'Array.85', 'Array.57', 'Array.36',
       'Array.89', 'Array.23', 'Array.129', 'Array.149', 'Array.73',
       'Array.55', 'Array.62', 'Array.101', 'Array.19', 'Array.43',
       'Array.65', 'Array.17', 'Array.37', 'Array.152', 'Array.145',
       'Array.53', 'Array.33', 'Array.21', 'Array.118', 'Array.107',
       'Array.86', 'Array.95', 'Array.102', 'Array.100', 'Array.134',
       'Array.82', 'Array.112', 'Array.93', 'Array.2', 'Array.104',
       'Array.106', 'Array.99', 'Array.135', 'Array.148', 'Array.105',
       'Array.144', 'Array.50', 'Array.4', 'Array.47', 'Array.75',
       'Array.71', 'Array.90', 'Array.79', 'Array.7', 'Array.143',
       'Array.123', 'Array.78', 'Array.142', 'Array.42', 'Array.8'], dtype=object)

In [15]:

# Recursive Feature Elimination
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
# load the iris datasets

# create a base classifier used to evaluate a subset of attributes
model = LogisticRegression()
# create the RFE model and select 3 attributes
rfe = RFE(model, 3)
rfe = rfe.fit(X_train, y_train)
# summarize the selection of the attributes
print(rfe.support_)
print(rfe.ranking_)

KeyboardInterrupt: